<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31146024358-vhj0d5i5lkuupnd56cbdvsectvj9ljat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31146024358-vhj0d5i5lkuupnd56cbdvsectvj9ljat</string>
	<key>API_KEY</key>
	<string>AIzaSyCs30icauO7XDbaZZtbSo7Bez85wo_f0hY</string>
	<key>GCM_SENDER_ID</key>
	<string>31146024358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skbhati199.flutterFirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>githubproject-skbhati</string>
	<key>STORAGE_BUCKET</key>
	<string>githubproject-skbhati.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31146024358:ios:23f994b22014294f394367</string>
</dict>
</plist>